body{
  margin: 0;
}

/* Customização do Calendário do Bar */
.meu-calendario-pub {
  background-color: #1d1d2e;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-family: inherit;
  width: 100%;
}

.react-calendar__navigation button {
  color: white;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #3fffa3;
  color: black;
  border-radius: 4px;
}

.react-calendar__month-view__weekdays {
  color: #8a8a8a;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.react-calendar__tile {
  background: none;
  color: white;
  padding: 15px 5px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #101026;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #3fffa3;
  color: black;
  border-radius: 4px;
}

.react-calendar__tile--active,
.react-calendar__tile--hasActive {
  background: #3fffa3 !important;
  color: black !important;
  border-radius: 4px;
}

.react-calendar__tile--active p {
  color: black !important;
}